.conteiner{
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.header-content{
    justify-content: space-between;
}

.nav-content{
    display: flex;
    align-items: center;
    gap: 18px;
}
